@using aspnet.Models.ViewModels
@model CarCustomerDeleteVM

<form asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden" />
    <p>Voulez vous supprimer ce client ?</p>
    <button type="submit">Delete</button>
</form>