@model IEnumerable<CarCustomer>

<ul>
    @foreach (CarCustomer customer in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@customer.Id">
                @customer.Name @customer.Email @customer.PhoneNumber
            </a>
        </li>
    }
</ul>